<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" media="screen" />
    {% endblock %}
</head>

{% block background %}
<body background="{{ url_for('static', filename='img/fundo.png') }}">
{% endblock %}

    <main>
        <div class="divMain">
            <div>
                <header>
                    <hr style="background-color: #6f75a7; width: 100%; height: 4.9px; border: 0cm; margin: 0; padding: 0;">
                    <div  class="divCabecalho">
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo da Unes Universidade">
                        <div><a href="{{ url_for('home') }}">Home</a> | <a href="{{ url_for('quemSomos') }}">Quem Somos</a> | </a> <a href="{{ url_for('contato') }}">Contato</a> | <a href="{{ url_for('dadosListados') }}">Mensagens Enviadas</a></div>
                    </div>
                </header>
                <div>
                    {% block contents %}{% endblock %}
                </div>

                <div>
                    <footer>
                        <div class="rodape">
                            <h5>Todos os direitos reservados</h5>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </main>
</body>
</html>     