{% extends "base.html" %}

{% block background %}
    <body background="{{ url_for('static', filename='img/fundo2.png') }}">
{% endblock %}

{% block contents %}
                <div class="divBorder">
                    <h3>Entre em contato</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus sint repellat explicabo quia amet quidem at nostrum delectus veniam cum!</p>
                    <hr>
                    <form method="post">
                        <div>
                            Seu e-mail:<br>
                            <input type="text" id="email" name="email"/>
                        </div>
                        <div>
                            Assunto:<br>
                            <input type="text" id="assunto" name="assunto"/>
                        </div>
                        <div>
                            Descrição:<br>
                            <textarea rows="6" id="descrição" name="descricao"></textarea>
                        </div>
                        <button type="enviar" name="enviar">Enviar</button>
                    </form>
                </div>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                        <div class="error">{{ message }}</div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
{% endblock %}