{% extends "base.html" %}

{% block background %}
    <body background="{{ url_for('static', filename='img/fundo2.png') }}">
{% endblock %}

{% block contents %}
                <div class="divBorder">
                    <h3>Quem somos</h3>
                    <p>Lorem <b>ipsum dolor</b>, sit amet consectetur adipisicing elit. Necessitatibus sint repellat explicabo quia amet quidem at nostrum delectus veniam cum! Ea iure vel voluptatum odio doloribus natus dolor repudiandae deserunt.
                    Rerum consequatur laborum esse ipsa fuga nam natus a, totam aliquam dolorem consectetur doloremque aliquid quisquam debitis reiciendis ea quis cupiditate odio. Corrupti, reiciendis! Maiores magnam laboriosam ipsam quod itaque.
                    Mollitia fuga vitae dolor, voluptate possimus ipsam culpa!</p>
                    <h3>5 Motivos para estudar</h3>
                    <ol>
                        <li>Material sempre atualizado</li>
                        <li>Tablets em sala de aula</li>
                        <li>Professores renomados</li>
                        <li>Universiade bem avaliada</li>
                        <li>òtima localização</li>
                    </ol>
                    <hr>
                    <h3>Objetivos</h3>
                    <p>Lorem <b>ipsum dolor</b>, sit amet consectetur adipisicing elit. Necessitatibus sint repellat explicabo quia amet quidem at nostrum delectus veniam cum! Ea iure vel voluptatum odio doloribus natus dolor repudiandae deserunt.
                        Rerum consequatur laborum esse ipsa fuga nam natus a, totam aliquam dolorem consectetur doloremque aliquid quisquam debitis reiciendis ea quis cupiditate odio. Corrupti, reiciendis! Maiores magnam laboriosam ipsam quod itaque.
                        Mollitia fuga vitae dolor, voluptate possimus ipsam culpa!</p>
                </div>
{% endblock %}