body{
    margin: 0;
    padding: 0px;
    border: 0;
    display: flex;
    justify-content: center;
    margin: auto;
}

header{
    padding: 0;
    border-radius: 0;
    margin: 0;
}

.divMain{
    margin: 0;
    border:0;
    display: flex;
    justify-content: space-between;
    align-items:stretch;
}

.divCabecalho{
    margin: 0px;
    border: 0px;
    padding: 21px 0 21px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: auto;
    height: auto;
}

img{
    height:fit-content;
    width:fit-content;
}

.rodape{
margin: 0px;
border:0px;
padding: 0px;
display: flex;
vertical-align: bottom;
justify-content:center;
align-items: center;
text-align: center;
}

.divBorder{
    padding: 0 50px;
}
.divCabecalho2{
    margin: 0px;
    border: 0px;
    padding: 21px 50px 21px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: auto;
    height: auto;
}
divPreencher{
    width: 1286px;
    height: 578px;
}